<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Legislación</a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <div class="card">
        <div class="card-body">
          <h2>Archivos disponibles</h2>

          <ul class="list-group">
            <li class="list-group-item">Dapibus ac facilisis in
              <div class="btn-group float-right" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-success"><i class="fa fa-download"></i>Descargar</button>
                <button type="button" class="btn btn-primary"><i class="fas fa-edit"></i>Editar</button>
                <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Eliminar</button>
              </div>
            </li>
            <li class="list-group-item">Dapibus ac facilisis in
              <div class="btn-group float-right" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-success"><i class="fa fa-download"></i>Descargar</button>
                <button type="button" class="btn btn-primary"><i class="fas fa-edit"></i>Editar</button>
                <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Eliminar</button>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ingreso para el profesor</h5>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Usuario">
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Contraseña">
          </div>
          <button type="button" class="btn btn-primary btn-block">Ingresar</button>
        </div>
      </div>
    </div>
  </div>
</div>
