<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Legislación</a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <div class="card">
        <div class="card-body">

            <div *ngIf="user">
              <h3>Subir Archivo</h3>
              <div class="input-group">
                <div class="custom-file">
                  <div class="custom-file m-b">
                    <label class="btn btn-secondary" for="my-file-selector">
                      <input id="my-file-selector" type="file" class="d-none" (change)="onFileChange($event)">
                      Elegir Archivo
                    </label>
                  </div>
                </div>
              </div>
              <br>
              <div class="custom-file m-b">
                <input type="text"  class="custom-file"  [(ngModel)]="fileLabelUpload" placeholder="{{ (fileUpload && fileUpload.name) ? fileUpload.name : 'Eliga su archivo...'}}">
              </div>
              <div class="custom-file m-b">
                <button class="btn btn-primary" (click)="uploadFile(fileLabelUpload)">Agregar Archivo</button>
              </div>
              <br><br><br>
            </div>

          <h2>Archivos disponibles</h2>

          <ul class="list-group" *ngIf="files">
            <li class="list-group-item" *ngFor="let file of files">
              {{file.label}}
              <div class="btn-group float-right" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-success" (click)="downloadFile(file)"><i class="fa fa-download"></i>Descargar</button>
                <div *ngIf="user">
                  <button type="button" class="btn btn-primary"><i class="fas fa-edit"></i>Editar</button>
                  <button type="button" class="btn btn-danger" (click)="deleteFile(file)"><i class="fas fa-trash-alt"></i>Eliminar</button>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body" *ngIf="!user">
          <h5 class="card-title">Ingreso para el profesor</h5>
          <div class="input-group mb-3" *ngIf="!loginData.loading">
            <input type="text" class="form-control" placeholder="Usuario" [(ngModel)]="loginData.username">
          </div>
          <div class="input-group mb-3" *ngIf="!loginData.loading">
            <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="loginData.password">
          </div>

          <div class="d-flex align-items-center" *ngIf="loginData.loading == true">
              <strong>Loading...</strong>
              <div class="spinner-grow ml-auto m-2" role="status" aria-hidden="true"></div>
          </div>

          <button type="button" class="btn btn-primary btn-block" (click)="login()">Ingresar</button>
        </div>

        <div class="card-body" *ngIf="user">
          <p>Inició sesión como:</p>
          <h5 class="card-title">{{user.fullname}}</h5>
          <button type="button" class="btn btn-primary btn-block" (click)="logout()">Cerrar Sesión</button>
        </div>
      </div>
    </div>
  </div>
</div>
